<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            margin: 50px;
        }
        a{
            margin: 20px;
            padding: 10px;
            background-color: rgb(42, 125, 233);
            color: white;
            text-decoration: none;
            border-radius: 3px;
        }
        a:hover {
            background-color: rgb(6, 54, 117);
        }
    </style>
</head>
<body>
    <a href="{% url 'user' %}">User</a>
    <a href="{% url 'page' %}">Page</a>
    <a href="{% url 'post' %}">Post</a>
    <a href="{% url 'song' %}">Song</a>
</body>
</html>