{% extends "base.html" %}
{% block content %}

<!-- CONTACT -->
<section class="contact section-padding">
    <div class="container">
         <div class="row">
                <div class="col-lg-6 mx-auto col-md-7 col-12 py-5 mt-5 text-center" data-aos="fade-up">
                    <h1 class="mb-4"><strong>Marksheet</strong></h1>
                </div>

              <div class="col-lg-8 mx-auto col-md-10 col-12">
              
              <!-- Follow https://templatemo.com/contact page to setup your own contact form -->
              
                <form method="post" class="contact-form" data-aos="fade-up">
                 {% csrf_token %}
                    <label for="">Subject 1</label>
                    <input type="text" class="form-control" name="subject1" placeholder="Enter Value">
                    <label for="">Subject 2</label>
                    <input type="text" class="form-control" name="subject2" placeholder="Enter Value">
                    <label for="">Subject 3</label>
                    <input type="text" class="form-control" name="subject3" placeholder="Enter Value">
                    <label for="">Subject 4</label>
                    <input type="text" class="form-control" name="subject4" placeholder="Enter Value">
                    <label for="">Subject 5</label>
                    <input type="text" class="form-control" name="subject5" placeholder="Enter Value">
                
                    <button type="submit" class="form-control" id="submit-button" name="submit">Marksheet</button>   
                    
                    <label for="">Total</label>
                    <input type="text" class="form-control" value="{{total}}" name="Total">
                    <label for="">Percentage</label>
                    <input type="text" class="form-control" value="{{per}}" name="Percentage">
                    <label for="">Result</label>
                    <input type="text" class="form-control" value="{{div}}" name="Result">

                </form>
              </div>

         </div>
    </div>
</section>
</div>
{% endblock %}