<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generic Class Based View - Display View: DetailView [Default template name]</title>

</head>
<body>
    <h4>ID: {{student.id}}</h4>
    <h4>ROLL: {{student.roll}}</h4>
    <h4>NAME: {{student.name}}</h4>
    <h4>COURSE: {{student.course}}</h4>

    <ul>
        <!-- <li><a href="">Edit</a></li>
        <li><a href="">Delete</a></li> -->
        <li><a href="{% url 'addstudent' %}">Back</a></li>
    </ul>
    <!-- <hr>
    <hr>
    <h4>All Students</h4>
    {% for student in all_students %}
        <li>
            <a href="{% url 'studentdetail' student.id %}">{{student.name}}</a>
        </li>
    {% endfor %}     -->
</body>
</html>