<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">

    <title>My Site | About Us</title>
</head>
<body class="bg-secondary">

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
          <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">My Site</a>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-sm-end" id="collapsibleNavId">
                <ul class="navbar-nav mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Courses</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="#">Python</a>
                            <a class="dropdown-item" href="#">Django</a>
                            <a class="dropdown-item" href="#">Java</a>
                        </div>
                    </li>
                </ul>
                <!-- <form class="d-flex my-2 my-lg-0">
                    <input class="form-control me-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> -->
            </div>
      </div>
    </nav>

    <div class="container mt-5">
        <h1 class="text-white">About Page</h1>
        <p class="text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste veniam, fugit quo officia vitae labore aliquid dignissimos sit, maxime inventore ipsa alias minus deleniti velit impedit temporibus. Qui, voluptas consequuntur!</p>
        <p class="text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste veniam, fugit quo officia vitae labore aliquid dignissimos sit, maxime inventore ipsa alias minus deleniti velit impedit temporibus. Qui, voluptas consequuntur!</p>
    </div>    
    

    <script src="{% static 'blog/js/jquery.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>