<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
    <title>Pagination with Class Based View</title>
</head>
<body>
    {% if is_paginated %}
        <div class="container">
            <h3 class="text-center my-5">Blog Posts</h3>
            <div class="row">
                {% for post in page_obj %}
                    <div class="col-sm-8 offset-2 mb-4">
                        <h4>{{post.title}}</h4>
                        <p>{{post.description | truncatewords:20}}<small><a href="{% url 'postdetail' post.id %}">Read More</a></small></p>
                        <small>{{post.publish_date}}</small>
                    </div>
                {% endfor %}
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1">Previous</a>
                </li>
            {% endif %}

                {% for page in page_obj.paginator.page_range %} 
                    <li class="page-item"><a class="page-link {% if page == page_obj.number %}active{% endif %}" href="?page={{page}}">{{page}}</a></li>
                {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a>
                </li>
            {% endif %}
            </ul>
        </nav>
        
    {% else %}
        <div class="container">
            <h3 class="text-center my-5">Blog Posts</h3>
            <div class="row">
                {% for post in post_list %}
                    <div class="col-sm-8 offset-2 mb-4">
                        <h4>{{post.title}}</h4>
                        <p>{{post.description}}</p>
                        <small>{{post.publish_date}}</small>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
  
<!-- <h6>Current Page: {{page_obj.number}}</h6>
<h6>Total Posts: {{page_obj.paginator.count}}</h6>
<h6>Total Pages: {{page_obj.paginator.num_pages}}</h6>
<h6>Pages Range: {{page_obj.paginator.page_range}}</h6> -->


<script src="{% static 'blog/js/jquery.js' %}"></script>
<script src="{% static 'blog/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>