{% extends 'app/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block main-content %}
<div class="container"  style="min-height: 83vh";>
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Login</h3>
   <hr>
   <form action="" method="post" novalidate class="shadow p-5">
    {% csrf_token %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <span class="errornote">{{error}}</span>
            {% endfor %}
        {% endif %}

        {% for fm in form %}
            <div class="mb-4">
                {{fm.label_tag}}
                {{fm}}
                {% if fm.errors %}
                {% for error in fm.errors %}
                    <span class="errorlist text-danger">{{error}}</span><br>
                {% endfor %}
                {% endif %}
            </div>
        {% endfor %}

    <small><a href="{% url 'password_reset' %}">Forgot Password ?</a></small> <br>
    <input type="submit" class="btn btn-primary mt-4" value="Login">
    <br>
    <div class="text-center text-primary fw-bold"><small>New to ShoppinglyX ? <a href="{% url 'customerregistration' %}"
       class="text-danger">Create an Account</a> </small></div>
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}