{% extends "blog/base.html" %}

{% block title %}
    About Us | SD Goraya
{% endblock title %}

{% block content %}
    <div class="col-md-10 offset-md-1">
        <h3 class="text-secondary border border-secondary text-center py-3 mt-5 mb-4">ABOUT US</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis nobis sunt maiores cumque? Reiciendis quasi quis fugit quas commodi, eos nostrum unde qui blanditiis minus dolore consequatur odit perspiciatis sit.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis nobis sunt maiores cumque? Reiciendis quasi quis fugit quas commodi, eos nostrum unde qui blanditiis minus dolore consequatur odit perspiciatis sit.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis nobis sunt maiores cumque? Reiciendis quasi quis fugit quas commodi, eos nostrum unde qui blanditiis minus dolore consequatur odit perspiciatis sit.</p>
    </div>

    
{% endblock content %}