<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Manager | Custom Model Manager - Modify The Initial QuerySet</title>
    <style>
        /***** Table *****/
        table,th,td {
            border: 1px solid black;
            border-collapse: collapse;
            /* border-spacing: 0; */
        }
        th,td {
            padding: 10px;
        }
        /***** End Table *****/
    </style>
</head>
<body>
    
    <!-- ========== Start Table ========== -->
    <table>
        <thead>
            <th>ID</th>
            <th>NAME</th>
            <th>ROLL</th>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td scope="row">{{student.id}}</td>
                    <td>{{student.name}}</td>
                    <td>{{student.roll}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- ========== End Table ========== -->

</body>
</html>