{% extends "blog/base.html" %}

{% block title %}
  {{post.title}}  | Change Post | SD Goraya
{% endblock title %}

<!-- Dashboard navbar -->
{% block navbar %}
    {% include "blog/navbar2.html" %}
{% endblock navbar %}
<!--/ end Dashboard navbar -->

{% block content %}
    <div class="col-sm-10 offset-1">
        <h3 class="text-secondary border border-secondary text-center py-3 mt-5 mb-4">UPDATE POST</h3>

        <h5 class="py-3">{{post.title}}</h5>

        <form action="" method="post" novalidate>
            {% csrf_token %}

            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <span class="errornote">{{error}}</span>
                {% endfor %}
            {% endif %}

            {% for fm in form %}
                <div class="row border-bottom border-secondary mb-4 pb-3">
                    <div class="col-sm-3">
                        {{fm.label_tag}}
                    </div>
                    <div class="col-sm-9">
                        {{fm}}
                    </div>
                    {% if fm.errors %}
                        {% for error in fm.errors %}
                            <span style="text-indent:170px;" class="errorlist text-warning mt-1">{{error}}</span><br>
                        {% endfor %}
                    {% endif %}
                    <small id="helptext" class="">{{fm.help_text|safe}}</small>
                </div>
            {% endfor %}
            <input type="submit" class="btn btn-secondary  btn-sm" value="Update">

            <!-- two method for hide delete button for normal users -->
           <!-- {% if request.user.is_superuser %}
           <a href="{% url 'deletepost' post.id %}" class="btn btn-danger btn-sm">Delete</a>
           {% endif %} -->

          {% if perms.enroll.delete_blog %}
          <a href="{% url 'deletepost' post.id %}" class="btn btn-danger btn-sm">Delete</a>
          {% endif %}
           
            <a href="{% url 'dashboard' %}" class="btn btn-light  btn-sm">Back</a>
        </form>

    </div>

{% endblock content %}