<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD | SD GORAY</title>
    <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'enroll/css/aos.css' %}">
    <!-- <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> -->
</head>
<body>

    <div class="container mt-5">
        <h2 class="text-center alert alert-danger">Base Class Based View with Model Form CRUD Project</h2>
       {% block content %}
           
       {% endblock content %}
    </div>
    
<script src="{% static 'enroll/js/jquery.js' %}"></script>
<script src="{% static 'enroll/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'enroll/js/aos.js' %}"></script>
<script>
    // AOS ANIMATION
    AOS.init({
      disable: 'mobile',
      duration: 800,
      anchorPlacement: 'center-bottom'
    });

    // $("#up-st").click(function () {
    //     // $(this).val('Please wait..');
    //     // $(this).attr('disabled', true);
    //     setTimeout(() => { 
    //         // $(this).attr('disabled', false);
    //         // $(this).val('Submit');
    //     }, 2000);
    // });

    // $("#up-st").on('click',function(){
    //     setTimeout(function(){
    //         alert("Using setTimeout in jQuery");}, 2000);
    // });
</script>
</body>
</html>