<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic URL</title>
    <style>
        /* .table,.table th,.table td {
            border: 1px solid black;
            border-spacing: 0px;
        }
        .table th,.table td {
            padding: 10px;
        } */
    </style>
</head>
<body>
    <h3>This show Template file - {{id}} / {{subid}}</h3>
    <a href="{% url 'home' %}">Back to Home</a><br><br>
    <a href="{% url 'allusers' %}">Back to All Users</a><br><br>

    <!-- ## """
    ##    Custom Path Converters 67
    ## """ -->
    <h4>Custom Path Converters - {{yr}}</h4>
</body>
</html>